@font-face {
  font-family: 'Rubik';
  src: url('../../webfont/Rubik-Light.eot');
  src: url('../../webfont/Rubik-Light.eot?#iefix') format('embedded-opentype'),
       url('../../webfont/Rubik-Light.woff2') format('woff2'),
       url('../../webfont/Rubik-Light.woff') format('woff'),
       url('../../webfont/Rubik-Light.ttf') format('truetype'),
       url('../../webfont/Rubik-Light.svg#Rubik-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../webfont/Rubik-Regular.eot');
  src: url('../../webfont/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../webfont/Rubik-Regular.woff2') format('woff2'),
       url('../../webfont/Rubik-Regular.woff') format('woff'),
       url('../../webfont/Rubik-Regular.ttf') format('truetype'),
       url('../../webfont/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../webfont/Rubik-Italic.eot');
  src: url('../../webfont/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
       url('../../webfont/Rubik-Italic.woff2') format('woff2'),
       url('../../webfont/Rubik-Italic.woff') format('woff'),
       url('../../webfont/Rubik-Italic.ttf') format('truetype'),
       url('../../webfont/Rubik-Italic.svg#Rubik-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../webfont/Rubik-Medium.eot');
  src: url('../../webfont/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../webfont/Rubik-Medium.woff2') format('woff2'),
       url('../../webfont/Rubik-Medium.woff') format('woff'),
       url('../../webfont/Rubik-Medium.ttf') format('truetype'),
       url('../../webfont/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../webfont/Rubik-MediumItalic.eot');
  src: url('../../webfont/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../../webfont/Rubik-MediumItalic.woff2') format('woff2'),
       url('../../webfont/Rubik-MediumItalic.woff') format('woff'),
       url('../../webfont/Rubik-MediumItalic.ttf') format('truetype'),
       url('../../webfont/Rubik-MediumItalic.svg#Rubik-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../webfont/Rubik-Bold.eot');
  src: url('../../webfont/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../webfont/Rubik-Bold.woff2') format('woff2'),
       url('../../webfont/Rubik-Bold.woff') format('woff'),
       url('../../webfont/Rubik-Bold.ttf') format('truetype'),
       url('../../webfont/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../webfont/Rubik-BoldItalic.eot');
  src: url('../../webfont/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../../webfont/Rubik-BoldItalic.woff2') format('woff2'),
       url('../../webfont/Rubik-BoldItalic.woff') format('woff'),
       url('../../webfont/Rubik-BoldItalic.ttf') format('truetype'),
       url('../../webfont/Rubik-BoldItalic.svg#Rubik-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../webfont/Rubik-Black.eot');
  src: url('../../webfont/Rubik-Black.eot?#iefix') format('embedded-opentype'),
       url('../../webfont/Rubik-Black.woff2') format('woff2'),
       url('../../webfont/Rubik-Black.woff') format('woff'),
       url('../../webfont/Rubik-Black.ttf') format('truetype'),
       url('../../webfont/Rubik-Black.svg#Rubik-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}