<!DOCTYPE html>
<html>

<head>
    <title>Champion League</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/components/toggle.css">
    <link rel="stylesheet" href="/css/components/dialog.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone.min.js"></script>
<script src="/scripts/res/stupidtable.min.js"></script>
<link rel="stylesheet" href="/css/adminPanel.css">
<link rel="stylesheet" href="/css/components/dialog.css">

</html>

<body>
    <div style="display:none;" class="errorDialog">
        <div class="dialogHeader">
            <svg width="26.8" height="23.1" class="dialogLogo">
                <use xlink:href="/icongraphy/svg/svg-sprite.svg#svg-icon-dialog-warning"></use>
            </svg>
            <div class="dialogHeaderInner">
				<span class="dialogTitle">Warning</span>
                <button class="dialogCloseButton"><span></span></button>
            </div>
        </div>
        <div class="alertBody">
            <p class="dialogMessage"></p>
            <button class="dialogButton redButton dialogActionButton">CLOSE</button>
        </div>
    </div>
    <div style="display:none;" class="warningDialog">
        <div class="dialogHeader">
            <svg width="26.8" height="23.1" class="dialogLogo">
                <use xlink:href="/icongraphy/svg/svg-sprite.svg#svg-icon-dialog-warning"></use>
            </svg>
            <div class="dialogHeaderInner">
            	<span class="dialogTitle"></span>
                <button class="dialogCloseButton"><span></span></button>
            </div>
        </div>
        <div class="alertBody">
            <p class="dialogMessage"></p>
            <button id="secondaryWarningButton" class="dialogButton lightGrayButton dialogActionButton"></button>
            <button id="mainWarningButton" class="dialogButton lightGrayButton dialogActionButton">CLOSE</button>
        </div>
    </div>
    <div style="display:none;" class="genericDialog">
        <div class="dialogHeader">
        	<img src="/icongraphy/svg/icon-logo2.svg" alt="Daily Champion" class="dialogLogo">
            <div class="dialogHeaderInner">
            	<span class="dialogTitle"></span>
                <button class="dialogCloseButton"><span></span></button>
            </div>
        </div>
        <div class="alertBody">
            <p class="dialogMessage"></p>
            <button id="secondaryGenericDialogButton" class="dialogButton lightGrayButton dialogActionButton"></button>
            <button id="genericDialogButton" class="dialogButton lightGrayButton dialogActionButton">CLOSE</button>
        </div>
    </div>
    <div id="termsAndConditionsDialog" style="display:none;">
        <div class="dialogHeader">
            <img src="/icongraphy/svg/icon-logo2.svg" alt="Daily Champion" class="dialogLogo">
            <div class="dialogHeaderInner">
                <span class="dialogTitle">Terms and Conditions</span>
                <button class="dialogCloseButton"><span></span></button>
            </div>
        </div>
        <div class="alertBody">
            <p class="dialogMessage"></p>
            <textarea id="termsAndConditionsDialogContent" rows="25" readonly="true"></textarea>
            <button id="termsAndConditionsDialogDecline" class="dialogButton lightGrayButton dialogActionButton">DECLINE</button>
            <button id="termsAndConditionsDialogAccept" class="dialogButton lightGrayButton dialogActionButton">ACCEPT</button>
        </div>
    </div>
    <script src="/scripts/helpers/util.js"></script>
    <script src="/scripts/models/User.js"></script>
    <script src="/scripts/models/Tournament.js"></script>
    <script src="/scripts/adminPanel.js"></script>
    <div id="mainHeaderNavContainer">
        <div class="fantasy-container">
            <div class="mainHeaderCell logoCell">
                <img id="mainLogo" src="/icongraphy/svg/icon-logo1.svg" alt="Daily Champion">
            </div>
            <div class="mainHeaderCell triangleCell">
                <div class="triangle">
                </div>
            </div>
            <div class="mainHeaderCell navCell">
                <nav class="mainHeaderNav">
                    <h3 class="mainHeaderItem">Admin Panel</h3>
                </nav>
            </div>
        </div>
    </div>
    <div class="fantasy-container">
        <div id="mainContainer">
            <div id="adminOptions">
                <div id="manageTournamentsOption" class="adminOption">
                    <p>Manage Contests</p>
                </div>
                <div id="createTournamentOption" class="adminOption">
                    <p>Create Contests</p>
                </div>
                <div id="programmedTournamentsOption" class="adminOption">
                    <p>Programmed Tournaments</p>
                </div>
                <div id="manageUsersOption" class="adminOption">
                    <p>Manage Users</p>
                </div>
                <div id="termsAndConditionsOption" class="adminOption">
                    <p>Terms and Conditions</p>
                </div>
            </div>
            <div id="panelContainer">
                <h3 id="adminLoadingView" class="adminLabel">Loading...</h3>
                <div id="manageTournamentsContainer" class="adminOptionContainer">
                    <input type="text" placeholder="Filter by name..." autocomplete="off" id="manageTournamentNameFilter">
                    <table id="manageTournamentsTable" class="adminTable"></table>
                </div>
                <div id="createTournamentContainer" class="adminOptionContainer">
                    <form id="tournamentCreationForm">
                        <div class="form-group">
                            <label class="adminLabel">Name*</label>
                            <input id="name" type="text" name="name" class="adminInput form-control">
                            <label class="adminLabel">Matches*
                                <table id="matchesSelectorTable" class="adminInput adminTable"></table>
                                <table id="selectedMatchesContainer" class="adminInput"></table>
                            </label>
                            <label class="adminLabel">Start Time*
                                <div class="createTournamentStartTimeContainer adminInput">
                                    <label class="adminOptionText createTournamentStartTimeText">Date mm/dd/yyyy</label>
                                    <input id="startDay" type="number" name="startDay" placeholder="dd" min="1" max="31" class="form-control">
                                    <input id="startMonth" type="number" name="startMonth" placeholder="mm" min="1" max="12" class="form-control">
                                    <input id="startYear" type="number" name="startYear" placeholder="yyyy" min="1880" max="2050" class="form-control">
                                    <label class="adminOptionText createTournamentStartTimeText">Time hh:MM</label>
                                    <input id="startHour" type="number" name="startHour" placeholder="hh" min="0" max="23" class="form-control">
                                    <input id="startMinute" type="number" name="startMinute" placeholder="MM" min="0" max="59" class="form-control">
                                </div>
                            </label>
                            <table class="adminInput">
                                <tr>
                                    <td class="adminTableOption adminTextTable">
                                        <label class="adminLabel">Guaranteed Prize</label>
                                    </td>
                                    <td class="adminTableOption adminInputTable">
                                        <input id="guaranteedPrize" type="number" name="guaranteedPrize" placeholder="0" class="form-control">
                                    </td>
                                    <td class="adminTableOption adminTextTable">
                                        <label class="adminLabel">Entry Fee</label>
                                    </td>
                                    <td class="adminTableOption adminInputTable">
                                        <input id="entryFee" type="number" name="entryFee" placeholder="Free" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="adminTableOption adminTextTable">
                                        <label class="adminLabel">Max Entries</label>
                                    </td>
                                    <td class="adminTableOption adminInputTable">
                                        <input id="maxEntries" type="number" name="maxEntries" class="form-control">
                                    </td>
                                    <td class="adminTableOption adminTextTable">
                                        <label class="adminLabel">Multi entries</label>
                                    </td>
                                    <td class="adminTableOption adminInputTable">
                                        <input id="multiEntries" type="number" name="multiEntries" placeholder="42"
                                            class="form-control">
                                    </td>
                                </tr>
                            </table>
                            <label class="adminLabel">Contest type*
                                <select id="tournamentTypes" style="width:200px" class="adminInput form-control"></select>
                            </label>
                            <label class="adminLabel">Contest flags
                                <div id="tournamentFlagsContainer"></div>
                            </label>
                            <label class="adminLabel">Registrations open
                                <input id="isOpen" type="checkbox" name="isOpen" checked class="adminInput">
                            </label>
                            <label class="adminLabel">Play Modes*</label>
                            <label class="adminOptionText">Real Money
                                <input id="realPlayMode" type="checkbox" name="realPlayMode" checked class="adminInput">
                            </label>
                            <label class="adminOptionText">Free Play
                                <input id="freePlayMode" type="checkbox" name="freePlayMode" checked class="adminInput">
                            </label>
                            <button type="submit" class="submitButton mainActionButton">SUBMIT</button>
                            <p id="tournamentCreationError" class="errorMessage"></p>
                            <img id="loadingProgress" src="/img/progress.gif" style="display:none" class="centered">
                        </div>
                    </form>
                </div>
                <div id="programmedTournamentsContainer" class="adminOptionContainer">
                    <p>Work in progress... (sort of)</p>
                </div>
                <div id="manageUsersContainer" class="adminOptionContainer">
                    <p>Work in progress... (sort of)</p>
                </div>
                <div id="termsAndConditionsContainer" class="adminOptionContainer">
                    <label class="adminLabel">Version Number</label>
                    <input id="termsAndConditionsVersion" type="number" class="adminInput">
                    <label class="adminLabel">Content</label>
                    <textarea id="termsAndConditionsContent" rows="25" class="adminInput"></textarea>
                    <button id="updateTermsAndConditionsButton" type="submit" class="submitButton mainActionButton">UPDATE</button>
                </div>
            </div>
        </div>
    </div>
</body>