extends layout

block head
    link(rel='stylesheet', href='/css/signIn.css')

block content
    script(src="/scripts/resetPassword.js")

    .fantasy-container#signInBackgroundImage
        .signInContainer
            .signInFormContainer#loginContainer
                p.signInTitle.signInTitleShort
                    span Reset your password

                .horizontalErrorMessage#resetPasswordError(style="display:none")

                form#resetPasswordForm(role='form', action="/resetPassword", method="post")
                    input#resetPasswordNewPassword.form-control.signInForm(type='password', name="password", placeholder='New Password')
                    input#resetPasswordSubmit.submitButton.mainActionButton(type='submit', value="CHANGE PASSWORD")

            img#signInFieldImage(src="icongraphy/img/football-field-perspective.png")