extends ../basic

block basicHead
    link(rel="stylesheet", href="/css/transaction.css")

block basicBody
    .transactionContainer
        .transactionTitle
            span#svg-icon-transaction-success 
            span.inline Success
        .transactionResultText Withdrawal successful!